:root {
  --main-bg-colour: #363636;
  --board-cell-colour: #252525;
  --ship-hit-colour: #ff0000;
  --water-colour: #05a5d6;
  --ship-colour: #FFFFFF;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  height: 100%;

  color: white;
  background-color: var(--main-bg-colour);
}

body {
  height: 100%;

  box-sizing: border-box;
  font-family: -apple-system, 
  BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen",
  "Ubuntu","Cantarell","Fira Sans","Droid Sans",
  "Helvetica Neue",sans-serif;

  display: grid;
  grid-template-rows: 200px 1fr;
}

#header {
  display: grid;
  place-items: center;

  text-shadow: #252525 4px 4px;
}

#board-container {
  width: 100%;

  display: grid;
  grid-auto-flow: column;
}

#board-container #introduction {
  display: grid;
  grid-gap: 15px;

  justify-self: center;
  align-self: flex-start;

  padding: 25px;

  background-color: var(--board-cell-colour);
  border-radius: 10px;

  grid-template-rows: 45px 25px 45px;
}

#introduction .colour-info{
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
}

#introduction .colour-info > div {
  font-weight: 600;
}
#introduction .colour-info > .water {
  color: var(--water-colour);
}
#introduction .colour-info > .ship { 
  color: var(--ship-colour);
}
#introduction .colour-info > .hit {
  color: var(--ship-hit-colour);
}

#introduction button {
  color: white;
  margin-top: 15px;
  width: 80%;
  justify-self: center;

  background-color: var(--main-bg-colour);
  border: none;
  border-radius: 5px;
  box-shadow: black 2px 2px 6px;

  transition: 0.1s;
}
#introduction button:hover {
  background-color:  white;
  color: black;

  transform: scale(1.02);
  transition: 0.1s;
}
#introduction button:active {
  transform: scale(0.99)
}

#board-container .gameboard {
  height: 550px;
  width: 550px;
  border: 1px solid var();
  
  justify-self: center;

  display: grid;
  grid-template-rows: repeat(10, 1fr);
}
.gameboard div#row {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  user-select: none;
}
.gameboard div#row > div {
  border: 1px solid #181818ab;
  transition: 0.5s;
}
.gameboard div#row > div:hover {
  transition: 0.15s ;
  transform: scale(1.05);
  border: 3px solid var(--board-cell-colour);
}
.gameboard div#row > .undiscovered {
  background-color: var(--board-cell-colour);
}
.gameboard div#row > .undiscovered:hover {
  background-color: white;
}
.gameboard div#row > .water {
  background-color: var(--water-colour);
}
.gameboard div#row > .hit {
  background-color: var(--ship-hit-colour);
}
.gameboard div#row > .ship {
  background-color: var(--ship-colour);
}

#win-modal {
  
  
}

.gameboard div#row > .miss {
  position: relative;
}
.gameboard div#row > .miss::before {
  display: block;
  content: ''; 
  position: absolute; 
  top: 50%; 
  left: 50%;
  width: 12px;
  height: 12px; 
  background-color: var(--board-cell-colour); 
  border-radius: 50%; 
  transform: translate(-50%, -50%);
}